<div class="container-fluid">
    <br />
    <div class="card">
        <div class="card-body">
        <div class="card-title">
            <div class="btn-group float-right">
                <button class="btn btn-primary" (click)="showMostPossible()" type="button">
                    Najverovatnija bolest
                </button>
                <button class="btn btn-secondary" (click)="showAllPossible()" type="button">
                    Sve bolesti
                </button>
            </div>
            <form class="form-group">
                <input type="text" class="form-control w-75" placeholder="Unesi bolest ..." name="query" [(ngModel)]="query" (change)="findDisease()"/>
            </form>
        </div>
        <div class="list-group-and-forms">
            <ul class="list-group float-left container-fluid" [ngClass]="{'w-50': formShown, '': formShown}">
                <li *ngFor="let diseasse of diseases" class="list-group-item d-flex justify-content-between" (click)="chooseDisease(diseasse)">{{diseasse.name}}
                    <button class="btn btn-primary" (click)="findSymptoms(diseasse)">Simptomi</button>
                    <small>{{simptomi}}</small>
                </li>
            </ul>
        </div>
        
        </div>
    </div>
</div>