<div class="container-fluid">
  <br />
  <div class="navnav container-fluid d-flex justify-content-between">
    <span>
      &nbsp;
      <button class="btn btn-la btn-success d-inline mr-3" (click)="navBack()">
        <i class="fa fa-la fa-arrow-left"></i>&nbsp;
        Nazad
      </button>
      <h3 class="d-inline">Pregledaj pacijente na intenzivnoj nezi</h3>
    </span>
    <button class="btn btn-la btn-success d-inline" (click)="openNewPatient()">
        <i class="fa fa-user-plus"></i>
        Dodaj pacijenta
    </button>
  </div>
  <br />
  <span [ngClass]="{'text-warning': searching}" *ngIf="searching">Pretraga...</span>
  <app-new-ic-patient [icPatients]="icPatients" class="w-50 float-right" *ngIf="newPatientOpen"></app-new-ic-patient>
  <div class="row justify-content-start pt-5 pb-5" [ngClass]="{'w-50': newPatientOpen, '': !newPatientOpen}">
    <button class="btn btn-primary btn-lg container-fluid ml-20 mr-20" (click)="doRefresh()">Osvezi prikaz</button>
    <div *ngFor="let patient of icPatients" class="col-4 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span>{{patient.chart.patient.firstName}} {{patient.chart.patient.lastName}}</span>
            <button class="btn btn-sm btn-light" (click)="removeIcPatient(patient.chart.patient.id)">
              <i class="fa fa-user-times"></i>
              Skloni
            </button>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between">Broj otkucaja srca
                <span class="btn-group" role="group">
                  <button *ngIf='patient.heartOk' class="btn btn-sm btn-success" disabled>
                      <i class="fa fa-smile-o"></i>
                  </button>
                  <button *ngIf='!patient.heartOk' class="btn btn-sm btn-danger" disabled>
                    <i class="fa fa-frown-o"></i>
                  </button>
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between">Nivo kiseonika u krvi
                <span class="btn-group" role="group">
                    <button *ngIf="patient.oxygenOk" class="btn btn-sm btn-success" disabled> 
                        <i class="fa fa-smile-o"></i>
                    </button>
                    <button *ngIf="!patient.oxygenOk" class="btn btn-sm btn-danger" disabled>
                      <i class="fa fa-frown-o"></i>
                    </button>
                  </span>
              </li>
              <li class="list-group-item d-flex justify-content-between">Kolicina mokrace
                <span class="btn-group" role="group">
                    <button *ngIf="patient.urinOk" class="btn btn-sm btn-success" disabled>
                        <i class="fa fa-smile-o"></i>
                    </button>
                    <button *ngIf="!patient.urinOk" class="btn btn-sm btn-danger" disabled>
                      <i class="fa fa-frown-o"></i>
                    </button>
                  </span>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
