<div class="card container-fluid">
  <div class="card-header d-flex justify-content-between">
    <h5>Naziv pacijenta</h5>
    <button class="btn btn-lg btn-primary" (click)="openChangeForm()">Izmeni ime i prezime</button> 
    <form class="d-flex container-fluid form" *ngIf="changeFormOpen">
      <div class="row">
        <div class="form-field col-5">
            <label for="fName">Ime: </label>
            <input type="text" id="fName" class="form-control" name="firstName" [(ngModel)]="patient.firstName"/>
            <small class="text-danger">{{error.firstName}}</small>
          </div>
          <div class="form-field col-5">
            <label for="lName">Prezime: </label>
            <input type="text" id="lName" class="form-control" [(ngModel)]="patient.lastName"/>
            <small class="text-danger">{{error.lastName}}</small>
          </div>
      </div>
    </form>
  </div>
  <div class="card-body d-flex justify-content-between">
    <h6 class="float-left w-15">Alergije: </h6>
    <div style="border: 1px solid green" class="w-100 ml-2 mr-2 container">
      <div class="row">
        <div *ngFor = "let allergy of patient.allergens" class="col-2">
            <span style="background-color: green; width: 50px; height: 10px; margin: 2px 2px 2px 2px">{{allergy.name}}</span>
        </div>
      </div>
    </div>
    <div class="float-right w-25 card">
      <div class="card-header">
        <button class="btn btn-la btn-success" role="button" (click)="openNewAllergy()">Nova alergija</button>
      </div>
      <div class="card-body">
        <form *ngIf="newAllergyOpen" class="form form-group">
          <textarea class="form-control" placeholder="Nova alergija" name="allergy" [(ngModel)]="allergies"></textarea>
          <br />
          <button role="button" class="btn btn-success" (click)="addAllergy()"><i class="fa fa-plus"></i>&nbsp;Dodaj</button>
        </form>
      </div>
    </div>
  </div>
  <hr />
  <div class="card-body container">
    <div class="row">
      <div *ngFor="let exam of chart.examinations" class="col-4 mb-2">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <p>Datum pregleda: <b>{{exam.date}}</b></p>
                <p>Pregled izvrsio: <b>dr. {{exam.doctor.lastName}} {{exam.doctor.firstName}}</b></p>
              </div>
              <div class="card-text">
                <div class="container">
                  <div class="row">
                    <div class="col-4"><h6>Simptomi</h6></div>
                    <div class="col-8">
                      <ul>
                        <li *ngFor="let symptom of exam.symptoms">symptom.name</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-4"><b><h6>Dijagnoza</h6></b></div>
                      <div class="col-8">{{exam.disease.name}}</div>
                  </div>
                  <div class="row">
                      <div class="col-4"><i><h6>Terapija</h6></i></div>
                      <div class="col-8">{{exam.prescription.drug}}, {{exam.prescription.plan}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
