<div class="card container-fluid">
  <div class="card-header">
    <h5>Naziv pacijenta</h5>
  </div>
  <div class="card-body">
    <h6 class="float-left w-25">Alergije: </h6>
    <textarea readonly class="w-75">
      sve alergije
    </textarea>
  </div>
  <hr />
  <div class="card-body container">
    <div class="row">
      <div class="col-4 mb-2">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <p>Datum pregleda: <b>dat</b></p>
                <p>Pregled izvrsio: <b>doc</b></p>
              </div>
              <div class="card-text">
                <div class="container">
                  <div class="row">
                    <div class="col-4"><h6>Simptomi</h6></div>
                    <div class="col-8">svi simps, 14vx, af
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-4"><b><h6>Dijagnoza</h6></b></div>
                      <div class="col-8">bol bol bol lat.</div>
                  </div>
                  <div class="row">
                      <div class="col-4"><i><h6>Terapija</h6></i></div>
                      <div class="col-8">12421, plan</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
