<div class="card">
  <div class="card-body">
    <form class="form-group">
      <input type="text" class="form-control w-100" placeholder="Pronadji pacijenta ..." name="query" [(ngModel)]="query" (change)="getPatients()"/>
    </form>
    <div class="list-group-and-forms">
      <ul class="list-group float-left container-fluid" [ngClass]="{'w-50': formShown, '': formShown}">
        <li *ngFor="let patient of patients" class="list-group-item d-flex justify-content-between">
          {{patient.firstName}} {{patient.lastName}}
          <span class="btn-group">
            <button class="btn btn-sm btn-success" (click)="addToIC(patient.id)" *ngIf="!checkIfInIc(patient)" ><i class="fa fa-check"></i></button>
           </span>
        </li>
      </ul>
    </div>
  </div>
</div>
