<div class="container-fluid">
    <div class="row">
      <div class="col">
        <a routerLink="/exam/new">
          <div class="card">
            <div class="card-title d-flex justify-content-center">
              <h2>Pregledi</h2>
            </div>
            <hr>
            <div class="card-text">
              Primite novog pacijenta
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/intensive-care">
          <div class="card">
            <div class="card-title d-flex justify-content-center">
                <h2>Intenzivna nega</h2>
            </div>
            <hr>
            <div class="card-text">
              Pregledajte pacijente na intenzivnoj nezi
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/reports">
          <div class="card">
            <div class="card-title d-flex justify-content-center">
                <h2>Izvestavanje</h2>
            </div>
            <hr>
            <div class="card-text">
              Proverite izvestaje vezane za pacijente
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
