<div class="card container-fluid">
  <br />
  <div class="card-header row">
      <h6 class="col-2">Pacijent: </h6>
      <span class="col-8"></span>
      <button class="btn btn-success float-right col-2">
          <i class="fa fa fa-file"></i> &nbsp;
          Karton</button>
      <br />
      <h6 class="col-2">Pregled obavio: </h6>
      <span class="col-10"><b></b></span>
  </div>
  <div class="card-body container-fluid">
    <div class="card-title row">
      <h6 class="col-2">Datum pregleda: </h6>
      <span class="col-8"></span>
      <button class="btn btn-lg btn-success float-right col-2">
          <i class="fa fa-lg fa-check"></i>
          Zavrsi</button>
    </div>
    <hr />
    <br >
    <div class="card-text container-fluid">
        <div class="d-flex justify-content-between row">
            <h6 class="d-inline col-2">Simptomi: </h6>
            <div class="d-inline col-8 pr-10">
                <textarea class="form-control"></textarea>
            </div>
            <button class="btn btn-primary d-inline col-2">Dodaj simptom</button>
        </div>
        <br />
        <hr />
        <br >
        <div class="d-flex justify-content-between row">
            <h6 class="d-inline col-2">Dijagnoza: </h6>
            <h6 class="d-inline w-75 col-8"></h6>
            <button class="btn btn-primary d-inline col-2">Postavi dijagnozu</button>
        </div>
        <br />
        <hr />
        <br >
        <div class="d-flex justify-content-between row">
            <h6 class="d-inline col-2">Terapija: </h6>
            <h6 class="d-inline w-75 col-8"></h6>
            <button class="btn btn-primary d-inline col-2">Prepisi terapiju</button>
        </div>
    </div>
  </div>
</div>
