<div class="card">
    <div class="card-header">
      <h5>Kreiraj novi lek</h5>
    </div>
    <div class="card-body">
      <form class="form-group container">
        <div class="row">
          <div class="container col-4">
                <div class="form-field row">
                    <div class="col">
                        <label for="name">Naziv: </label>
                        <input type="text" id="name" class="form-control" />
                    </div>
                </div>
                <div class="form-field row">
                  <div class="col">
                      <label for="type">Vrsta leka: </label>
                      <select id="type" class="form-control">
                        <option value="Analgetik">Analgetik</option>
                        <option value="Antibiotik">Antibiotik</option>
                        <option value="Ostalo">Ostalo</option>
                      </select>
                  </div>
                </div>
          </div>
          <div class="form-field col-8">
              <label for="smyps">Sastojci: </label>
              <textarea id="smyps" class="form-control d-flex h-100" placeholder="Npr aspirin ..."></textarea>
          </div>
        </div>
        <br />
        <hr />
      </form>
      <div class="form-field d-flex justify-content-end">
        <button class="btn btn-success btn-lg" (click)="createDrug()">Zavrsi</button>
      </div>
    </div>
</div>
