<div class="card">
    <div class="card-header">
      <h5>Kreiraj novi simptom</h5>
    </div>
    <div class="card-body">
      <form class="form-group">
        <div class="form-field">
          <label for="name">Naziv: </label>
          <input type="text" id="name" class="form-control" name="namen" [(ngModel)]="symptom.name"/>
          <small class="text-danger">{{error}}</small>
        </div>
        <hr />
        <div class="form-field">
          <button class="btn btn-success btn-lg" (click)="createSymptom()"><i class="fa fa-lg fa-plus"></i>&nbsp;Zavrsi</button>
        </div>
      </form>
    </div>
  </div>
  
