<div class="container-fluid">
    <br />
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="form-group">
            <input type="text" class="form-control w-75" placeholder="Unesi lek ..." name="query" [(ngModel)]="query" (change)="findDrug()"/>
          </div>
        </div>
        <div class="list-group-and-forms">
          <ul class="list-group float-left container-fluid" [ngClass]="{'w-50': formShown, '': formShown}">
            <li *ngFor="let drug of drugs" class="list-group-item d-flex justify-content-between" (click)="chooseDrug(drug)">{{drug.name}}
                <small>{{drug.ingredients}}</small>
            </li>
          </ul>
        </div>
        <hr />
        <div class="form-group">
          <label for="plan">Nacin unosenja: </label>
            <textarea id="plan" class="form-control" placeholder="2 puta dnevno, oralno ..." name="plan" [(ngModel)]="prescription.plan"></textarea>
        </div>
      </div>
    </div>
  </div>
