<div>
  <nav class="navbar navbar-dark bg-success d-flex justify-content-between">
      <a class="nav-link dropdown-toggle btn btn-la btn-outline-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="openDropdown()">
        Dodaj
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="dropdownOpen">
        <a class="dropdown-item" (click)="openNewDisease()">Bolest</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="openNewDoctor()">Doktor</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="openNewDrug()">Lek</a>
      </div>
      <a class="navbar-brand d-flex flex-row" href="../home">
        <h1><i class="fa fa-home"></i>
          &nbsp;&nbsp;Pocetna</h1>
      </a>
      <a class="nav-link btn btn-la btn-outline-light" href="../login" id="navbarLogout" role="button">
          Izadji
      </a>
  </nav>
  <div class="optional-menu">
      <app-new-doctor *ngIf="newDoctorOpen && !newDiseaseOpen && !newDrugOpen"></app-new-doctor>
      <app-new-disease *ngIf="!newDoctorOpen && newDiseaseOpen && !newDrugOpen"></app-new-disease>
      <app-new-drug *ngIf="!newDoctorOpen && !newDiseaseOpen && newDrugOpen"></app-new-drug>
  </div>
</div>
