<nav class="navbar navbar-dark bg-success d-flex justify-content-between">
  <a class="nav-link dropdown-toggle btn btn-la btn-outline-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </a>
  <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Doctor</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Disease</a>
    <a class="dropdown-item" href="#">Symptom</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Drug</a>
    <a class="dropdown-item" href="#">Ingredient</a>
  </div>-->
  <a class="navbar-brand d-flex flex-row" routerLink="/">
    <h1><i class="fa fa-home"></i>
      &nbsp;&nbsp;Home</h1>
  </a>
  <a class="nav-link btn btn-la btn-outline-light" routerLink="/logout" id="navbarLogout" role="button">
      Logout
  </a>
</nav>
