<div class="jumbotron">
  <h1 class="display-4">Logo</h1>
  <hr class="my-4">
  <p class="lead">Prijavi se</p>
</div>
<div class="card">
  <div class="card-body">
    <form class="form">
        <div class="form-group">
          <label for="username">Korisnicko ime: </label>
          <input type="text" class="form-control" id="username" placeholder="Korisnicko ime..." [(ngModel)]="doctor.username" name="username" required/>
          <small class="text-danger">{{errors.username}}</small>
        </div>
        <div class="form-group">
          <label for="password">Sifra: </label>
          <input type="password" class="form-control" id="password" placeholder="Sifra..." [(ngModel)]="doctor.password" name="password" required/>
          <small class="text-danger">{{errors.password}}</small>
        </div>
        <input type="submit" role="button" class="btn btn-success btn-lg" (click)="logIn()" value="Prijavi se" />
    </form>
  </div>
</div>