<div class="jumbotron">
  <h1 class="display-4">Logo</h1>
  <hr class="my-4">
  <p class="lead">Prijavi se</p>
</div>
<div class="card">
  <div class="card-body">
    <p class="text-danger">{{errors.main}}</p>
    <form class="form" (ngSubmit)="logIn()" #dataForm="ngForm">
        <div class="form-group">
          <label for="username">Korisnicko ime: </label>
          <input type="text" class="form-control" id="username" placeholder="Korisnicko ime..." [(ngModel)]="data.username" name="username" #username="ngModel" required/>
          <small class="text-danger">{{errors.username}}</small>
        </div>
        <div class="form-group">
          <label for="password">Sifra: </label>
          <input type="password" class="form-control" id="password" placeholder="Sifra..." [(ngModel)]="data.password" name="password" #password="ngModel" required/>
          <small class="text-danger">{{errors.password}}</small>
        </div>
        <input type="submit" role="button" class="btn btn-success btn-lg" value="Prijavi se" [disabled]="!dataForm.form.valid"/>
    </form>
  </div>
</div>