<div class="container-fluid">
  <br />
  <div class="navnav container-fluid d-flex justify-content-between">
    <button class="btn btn-la btn-success d-inline mr-3">
      <i class="fa fa-la fa-arrow-left"></i>&nbsp;
      Back
    </button>
    <h3 class="d-inline">Primi pacijenta</h3>
    <button class="btn btn-la btn-success d-inline mr-3">
        <i class="fa fa-la fa-arrow-right"></i>&nbsp;
        Nastavi
    </button>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <button class="btn btn-success float-right">
            <i class="fa fa-user-plus"></i>
            Novi pacijent
          </button>
        <form class="form-group">
          <input type="text" class="form-control w-75" placeholder="Pronadji pacijenta ..." />
        </form>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Bla 1</li>
        <li class="list-group-item">Bla 2</li>
      </ul>
    </div>
  </div>
</div>