<div class="container-fluid">
  <br />
  <div class="navnav container-fluid d-flex justify-content-between">
    <button class="btn btn-la btn-success d-inline mr-3" (click)="navBack()">
      <i class="fa fa-la fa-arrow-left"></i>&nbsp;
      Nazad
    </button>
    <h3 class="d-inline">Primi pacijenta</h3>
    <button class="btn btn-la btn-success d-inline mr-3" (click)="goForward()">
        <i class="fa fa-la fa-arrow-right"></i>&nbsp;
        Nastavi
    </button>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <button class="btn btn-success float-right" (click)="showForm()">
            <i class="fa fa-user-plus"></i>
            Novi pacijent
          </button>
        <form class="form-group">
          <input type="text" class="form-control w-75" placeholder="Pronadji pacijenta ..." [(ngModel)]="query" (change)="findPatients()"/>
        </form>
      </div>
      <div class="list-group-and-forms">
        <ul class="list-group float-left container-fluid" [ngClass]="{'w-50': formShown, '': formShown}">
          <li *ngFor="let pat of patients" class="list-group-item" (click)="choosePatient(pat.id)">
            {{pat.patient.firstName}} {{pat.patient.lastName}}
          </li>
        </ul>
        <app-new-patient *ngIf="formShown" class="w-50"></app-new-patient>
      </div>
      
    </div>
  </div>
</div>