<div class="card">
  <div class="card-header">
    <h5>Kreiraj novog pacijenta</h5>
  </div>
  <div class="card-body">
    <form class="form-group">
      <div class="form-field">
        <label for="fName">Ime: </label>
        <input type="text" id="fName" class="form-control" name="firstName" [(ngModel)]="patient.firstName"/>
        <small class="text-danger">{{error.firstName}}</small>
      </div>
      <div class="form-field">
        <label for="lName">Prezime: </label>
        <input type="text" id="lName" class="form-control" name="lastName" [(ngModel)]="patient.lastName"/>
        <small class="text-danger">{{error.lastName}}</small>
      </div>
      <div class="form-field">
        <label for="allergens">Alergeni: </label>
        <textarea class="form-control" id="allergens" name="allergens" placeholder="Alergen 1, alergen 2..." [(ngModel)]="allergens"></textarea>
      </div>
      <hr />
      <div class="form-field">
        <button class="btn btn-success btn-lg" (click)="createPatient()"><i class="fa fa-lg fa-check"></i>Zavrsi</button>
      </div>
    </form>
    <small class="text-danger">{{errorr}}</small>
    <small class="text-success">{{success}}</small>
  </div>
</div>
