<div class="card">
  <div class="card-header">
    <h5>Kreiraj novog pacijenta</h5>
  </div>
  <div class="card-body">
    <form class="form-group">
      <div class="form-field">
        <label for="fName">Ime: </label>
        <input type="text" id="fName" class="form-control" />
      </div>
      <div class="form-field">
        <label for="lName">Prezime: </label>
        <input type="text" id="lName" class="form-control" />
      </div>
      <div class="form-field">
        <label for="allergens">Alergeni: </label>
        <textarea class="form-control" id="allergens" placeholder="Alergen 1, alergen 2..."></textarea>
      </div>
      <hr />
      <div class="form-field">
        <button class="btn btn-success btn-lg" (click)="createPatient()">Zavrsi</button>
      </div>
    </form>
  </div>
</div>
